
.loading-body{
    margin-top: 10%;
    max-width: 50%;
    background: rgba(0, 0, 0, 0.32);
    padding: 25px;
}
.rules{
    background: rgba(255, 255, 255, 0.16);
}
.rules-header{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: white;
}
ul{
    list-style-type: decimal;
    text-align: left;
}
.rules-list{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 15px;
}
.info{
    vertical-align: middle;
}
.rules-divider{
    margin: 10px;
    height: 2px;
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.header{
    margin-bottom: -5px;
    font-family: sans-serif;
    color: white;
}
.progress{
    align-content: center;
    position: relative;
    background: rgba(255, 255, 255, 0.16);
    height: 20px;
    border-radius: 15px;
    display: block;
}
.progress-bar{
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(18, 255, 91, 0.77);
    transition: width .3s linear;
}
.progress-text{
    padding-left: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
}
.mapname{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
.row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}
img{
    @extend .loading-body;
    max-width: 100%;
}